<% @companies.each do |company| %>
	<div class="company">
		<h1> <%= company.name %> </h1>
		<p> Address: <%= company.address %>, <%= company.city %>, <%= company.country %> </p>
		<p> Email: <%= company.email %> </p>
		<p> Phone Number: <%= company.phone_number %> </p>
		<%= link_to "Edit", edit_company_path(company) %>
	</div>
<% end %>
<br>
<%= link_to "Add New Company", 'companies/new'%>
