<% @companies.each do |company| %>
	<div class="company">
		<h1 class="companyname"> <%= company.name %> </h1>
		<div class="company_info invisible">
			<p> Address: <%= company.address %>, <%= company.city %>, <%= company.country %> </p>
			<p> Email: <%= company.email %> </p>
			<p> Phone Number: <%= company.phone_number %> </p>
			<p> Beneficial owners: </p>
			<p> Directors: </p>
			<%= link_to "Edit", edit_company_path(company) %>
		</div>
	</div>
<% end %>
<br>
<%= link_to "Add New Company", 'companies/new' %>
<%= link_to "Add New Person", 'users/new' %>
